In [29]:
import pandas as pd

In [30]:
data = {
    'planet_name': ['Proxima Centauri b', 'TRAPPIST-1e', 'Kepler-186f', 'kepler 22b', 'kepler 452b', 'Gliese 667Cc'],
    'host_star': ['Proxima Centauri', 'TRAPPIST-1', 'Kepler-186', 'kepler 22', 'kepler 452', 'Gliese 667c'],
    'orbital_period_days': [11.2, 6.1, 129.9, 290, 385, 28],
    'radius_earth': [1.17, 0.92, 1.11, 2.4, 1.6, 4.5],
    'temperature_fahrenheit': [39, 37, 56, 22.22, 77, 39.6],
    # Add more attributes as needed

}

In [31]:
exo_df = pd.DataFrame(data)

In [32]:
styled_exo_df = exo_df.style.background_gradient(cmap='Blues')

In [33]:
styled_exo_df